*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.borrar{
    color: white;
    background-color:  rgba(139, 201, 47, 0.979);
  }
  .borrarResumen:hover{
    background-color: #198754;
    color: white;
  }
  .total{
      background-color: rgb(201, 233, 254);
  }
  #pie-pag{
      background-color:#254152
      
  }